<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script> -->
    <script>
        function added(){
            var fd = document.getElementById('message');
            fd.innerHTML = "";
            alert("Feedback submitted!")
        }
    </script>
</head>

<body>
    <div class="background">
        <div class="blur"></div>
    </div>
    <h1> Feedback </h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="invalid_pwd" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br><br>

    <a class="link" href="/homepage">
        Homepage
    </a>

    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

    <a class="link" href="{{url_for('logout')}}">
        Logout
    </a>
    <br><br>
</body>

</html>