<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>
</head>

<body>
    <div class="background">
        <div class="blur"></div>
    </div>
    <h1> Song Select Login </h1>
    <h2>Welcome to the song selector!</h2>
    <br>
    <p class="lyrics_lines">Ever been put on the spot when asked "what's a song you like", since there's just so many?
        With this site, you can shuffle through the top tracks of your favorite artists one by one, 
        and present that wherever you need to (to a friend, at a party, etc.)
        Please login to view your artists, or register to get started.
    </p>
    <div style="vertical-align: middle;"></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="invalid_pwd" role="alert">
        {{message}}
        <p class="art_str">Try Again</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br><br>
    <div id="login">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}<br>
            <br>
            {{ form.password }}<br>
            <br><br>
            {{ form.submit }}
        </form>
    </div>
    <br>
    <a class="link" href="{{url_for('register')}}">Register</a>
    <br><br>

</body>

</html>